interactions:
- request:
    body: notify=1
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
      Proxy-Connection: [keep-alive]
      X-Vine-Client: [ios/2.5.1]
      vine-session-id: [!!python/unicode 1169361810303164416-ee021a75-d3ca-4f39-aa14-863e41723743]
    method: POST
    uri: https://api.vineapp.com:443/users/948731399408640000/followers/notifications
  response:
    body: {string: !!python/unicode '{"code": "", "data": {}, "success": true, "error":
        ""}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
      Proxy-Connection: [keep-alive]
      X-Vine-Client: [ios/2.5.1]
      vine-session-id: [!!python/unicode 1169361810303164416-ee021a75-d3ca-4f39-aa14-863e41723743]
    method: GET
    uri: https://api.vineapp.com:443/users/profiles/948731399408640000
  response:
    body: {string: !!python/unicode '{"code": "", "data": {"followerCount": 195, "userId":
        948731399408640000, "private": 0, "likeCount": 715, "postCount": 147, "explicitContent":
        0, "blocked": 0, "verified": 0, "loopCount": 7671, "avatarUrl": "http://v.cdn.vine.co/r/avatars/98E427C03A1035848145776820224_1c1a5595066.4.7_AJeYR3l8u2pgTdFOq.rn9k3ziYHqfhul96J76ILSrFSVdIbDEbv6EeizF.XEklIf.jpg?versionId=11kNTERjSU_kj4CAcpQfGQoZrSqx3LSp",
        "authoredPostCount": 115, "description": "Soy lo m\u00e1s viejo que he sido
        y lo m\u00e1s joven que jam\u00e1s volver\u00e9 a ser", "location": "CDMX",
        "username": "Davoclavo", "vanityUrls": ["davoclavo"], "following": 1, "blocking":
        0, "shareUrl": "https://vine.co/davoclavo", "profileBackground": "0x5082e5",
        "notifyPosts": 1, "followingCount": 288, "repostsEnabled": 1}, "success":
        true, "error": ""}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
