interactions:
- request:
    body: username=bobtesty%40suremail.info&password=password&deviceToken=a3352a79c3e29053a03a2e6eb89587648f5b2a291c709708816ec768d058ea45
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
      Proxy-Connection: [keep-alive]
      X-Vine-Client: [ios/2.5.1]
    method: POST
    uri: https://api.vineapp.com:443/users/authenticate
  response:
    body: {string: !!python/unicode '{"code": "", "data": {"username": "Bob Testy",
        "edition": "US", "userId": 1169361810303164416, "key": "1169361810303164416-7508513e-8757-485a-9fba-9870d111e3e5",
        "avatarUrl": "http://v.cdn.vine.co/avatars/default.png"}, "success": true,
        "error": ""}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
