interactions:
- request:
    body: device_token=a3352a79c3e29283a03a2e6eb89587648f5b2a291c709708816ec768d058ea45&username=bobtesty%40suremail.info&password=password
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
      Proxy-Connection: [keep-alive]
      X-Vine-Client: [ios/2.5.1]
    method: POST
    uri: https://api.vineapp.com:443/users/authenticate
  response:
    body: {string: !!python/unicode '{"code": "", "data": {"username": "Bob Testy",
        "edition": "US", "userId": 1169361810303164416, "key": "1169361810303164416-cb76b64e-ce4f-4687-a8bb-0986e7b696db",
        "avatarUrl": "http://v.cdn.vine.co/avatars/default.png"}, "success": true,
        "error": ""}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
