interactions:
- request:
    body: username=Bob+Testy&password=password&authenticate=1&email=bobtesty%40suremail.info
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Vine-Client: [ios/2.5.1]
    method: POST
    uri: https://api.vineapp.com:443/users
  response:
    body: {string: !!python/unicode '{"code": "", "data": {"username": "Bob Testy",
        "edition": "US", "userId": 1169361810303164416, "key": "1169361810303164416-bcbbe44b-f145-44ac-a408-a3988b447508",
        "avatarUrl": "http://v.cdn.vine.co/avatars/default.png"}, "success": true,
        "error": ""}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
