interactions:
- request:
    body: null
    headers:
      X-Vine-Client: [ios/2.5.1]
      vine-session-id: [!!python/unicode 967576278242844672-9c2f6444-66b8-4ec5-a03b-86afec71cae7]
    method: GET
    uri: https://api.vineapp.com:443/users//conversations
  response:
    body: {string: !!python/unicode '{"code": 900, "data": "", "success": false, "error":
        "That record does not exist."}'}
    headers:
      content-type: [application/json]
    status: {code: 404, message: NOT FOUND}
- request:
    body: null
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=utf-8]
      Proxy-Connection: [keep-alive]
      X-Vine-Client: [ios/2.5.1]
      vine-session-id: [!!python/unicode 1169361810303164416-7508513e-8757-485a-9fba-9870d111e3e5]
    method: GET
    uri: https://api.vineapp.com:443/users/1169361810303164416/conversations
  response:
    body: {string: !!python/unicode '{"code": "", "data": {"count": 0, "anchorStr":
        "0", "records": [], "previousPage": null, "backAnchor": "", "anchor": 0, "nextPage":
        null, "size": 20}, "success": true, "error": ""}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
